<div class="text-center alert alert-danger navbar-fixed-top"
        ng-show="tt.apiErrorDisplay.statusIsNew">
    
    <button type="button" class="close" role="alert"
            ng-click="tt.apiErrorDisplay.setStatusIsNew(false)">
        
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    {{ tt.apiErrorDisplay.statusError }}
</div>

<div id="apiErrorInline" class="list-group">
    <div ng-show="tt.apiErrorDisplay.statusError" class="text-center list-group-item list-group-item-danger">
        {{ tt.apiErrorDisplay.statusError }}
    </div>
    
    <ul ng-show="tt.apiErrorDisplay.modelErrors.length" class="list-group-item list-group-item-warning">
        <li ng-repeat="error in tt.apiErrorDisplay.modelErrors">
            {{ error }}
        </li>
    </ul>
</div>