<h2>Remove a Game</h2>

<h4>Remove {{ game.name }}?</h4>

<hr />

<div class="text-danger">
    <ul>
        <li ng-show="tt.apiErrors.statusError" class="list-unstyled text-center alert alert-danger">
            {{ tt.apiErrors.statusError }}
        </li>
    </ul>
</div>

<form name="{{ formName }}" class="form-horizontal" tt-submit novalidate>
    <tt-api-success-display></tt-api-success-display>
    <tt-api-error-display></tt-api-error-display>
    <game-details></game-details>

    <div class="form-group">
        <div class="col-md-10">
            <button class="btn btn-danger" ng-click="deleteGame()">
                Remove Game
            </button>

            <a class="btn btn-primary" href="games/">
                Cancel
            </a>
        </div>
    </div>
</form>