<div class="text-danger error-messages"> <!-- Todo: Update to reduce duplication when angular 1.4.x is out -->
    <ul ng-messages="{{ formName }}.name.$error" ng-if="tt[formName].hasError('name')">
        <li ng-message="required">
            Enter the game's name.
        </li>
        <li ng-message="minlength">
            The name must be between 1 and 50 characters long.
        </li>
        <li ng-message="maxlength">
            The name must be between 1 and 50 characters long.
        </li>
    </ul>
    <ul ng-messages="{{ formName }}.minimumPlayers.$error" ng-if="tt[formName].hasError('minimumPlayers')">
        <li ng-message="required">
            Enter the game's minimum number of players.
        </li>
        <li ng-message="number">
            Enter the game's minimum number of players.
            <!--<span ng-message="number">-->
                Not a valid number.
            <!--</span>-->
        </li>
        <li ng-message="min">
            Minimum Players must be between 1 and 99.
        </li>
        <li ng-message="max">
            Minimum Players must be between 1 and 99.
        </li>
        <li ng-message="lessOrEqual">
            Minimum Players must not exceed the Maximum Players.
        </li>
    </ul>
    <ul ng-messages="{{ formName }}.maximumPlayers.$error" ng-if="tt[formName].hasError('maximumPlayers')">
        <li ng-message="required">
            Enter the game's maximum number of players.
        </li>
        <li ng-message="number">
            Enter the game's maximum number of players.
            <!--<span ng-message="number">-->
                Not a valid number.
            <!--</span>-->
        </li>
        <li ng-message="min">
            Maximum Players must be between 1 and 99.
        </li>
        <li ng-message="max">
            Maximum Players must be between 1 and 99.
        </li>
    </ul>
</div>

<div class="form-group" ng-class="{'has-error': tt.{{ formName }}.hasError({{ formName }}.name)}">
    <label class="col-md-2 control-label" for="name">Name</label>
    <div class="col-md-10">
        <input class="form-control" id="name" name="name" type="text" placeholder="Game Name" 
               ng-model="game.name" ng-minlength="1" ng-maxlength="70" required />
    </div>
</div>

<div class="form-group" ng-class="{'has-error': tt.{{ formName }}.hasError({{ formName }}.minimumPlayers)}">
    <label class="col-md-2 control-label" for="minimumPlayers">Minimum Players</label>
    <div class="col-md-10">
        <input class="form-control" id="minimumPlayers" name="minimumPlayers" type="number"
               placeholder="Min # Players" ng-model="game.minimumPlayers"
               less-or-equal="{{ game.maximumPlayers }}" min="1" max="99" required />
    </div>
</div>

<div class="form-group" ng-class="{'has-error': tt.{{ formName }}.hasError({{ formName }}.maximumPlayers)}">
    <label class="col-md-2 control-label" for="maximumPlayers">Maximum Players</label>
    <div class="col-md-10">
        <input class="form-control" id="maximumPlayers" name="maximumPlayers" type="number"
                placeholder="Max # Players" ng-model="game.maximumPlayers" min="1" max="99" required/>
    </div>
</div>