<h2>{{ title }}</h2>

<div class="row">
    <div class="col-sm-8 col-md-10">
        <a ng-href="games/create" class="bottom-20 btn btn-primary pull-right">
            Create a game
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-md-10">
        <ul class="games">
            <li ng-repeat="game in games | orderBy: 'name'" class="thumbnail game-listing">
                <a ng-href="games/{{ game.url }}" class="thumb" ng-show="game.imageUrl">
                    <img ng-src="{{ game.imageUrl }}" alt="{{ game.name + ' box' }}">
                </a>

                <div>
                    <a ng-href="games/update/{{ game.url }}" class="pull-right">
                        Edit
                    </a>
                </div>

                <a ng-href="games/{{ game.url }}">
                    {{ game.name }}
                </a>

                <div>
                    <a ng-href="games/delete/{{ game.url }}" class="pull-right">
                        Remove
                    </a>
                </div>

                <p>
                    Minimum Players: {{ game.minimumPlayers }}
                    <br/>
                    Maximum Players: {{ game.maximumPlayers }}
                </p>
            </li>
        </ul>
    </div>
</div>