<h2>Editing {{ masterGame.name }}</h2>

<hr />

<form name="{{ formName }}" class="form-horizontal" tt-submit novalidate>
    <tt-api-success-display></tt-api-success-display>
    <tt-api-error-display></tt-api-error-display>
    <game-form-fields></game-form-fields>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" ng-click="submitGame(game)">
                Update Game
            </button>
        </div>
    </div>
</form>