<h2>Games List</h2>

<p>
    <a ng-href="games/create">Create a game</a>
    <a href="games/dummy">Dummy thing</a>
</p>

<div class="row">
    <div class="col-md-10">
        <!-- col-md-4 -->
        <ul class="games">
            <li ng-repeat="game in games" class="thumbnail game-listings">
                <a href="games/{{ game.id }}" class="thumb">
                    <img ng-src="{{ game.imageUrl }}" alt="{{ game.name + ' box' }}">
                </a>

                <a href="games/{{ game.id }}">{{ game.name }}</a>

                <p>Description</p>
            </li>
        </ul>
    </div>
</div>