<script type="text/javascript" src="js/randomPicker.js"></script>
<div class="jumbotron">
    <h1>Board Game Scorer</h1>
    <p class="lead">Angular</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Random Name Picker</h2>

        <label for="txtNames">Enter Names: </label>
        <input type="text" id="txtNames" />

        <br />

        <button id="btnSubmit" onclick="randomName('txtNames', 'output');">Pick Name</button>

        <br />
        <br />

        <p id="output">&nbsp;</p>
    </div>
</div>